<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>CLAB UI Components | Demo page</title>

	<!-- Pattern Library CSS -->
	<link rel="stylesheet" href="bower_components/clab-ui-components/_assets/css/contactlab-pattern.css">

	<!-- Polyfills -->
	<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

	<!-- Angular  -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/ng-polymer-elements/ng-polymer-elements.min.js"></script>
  <script src="bower_components/angular-bind-polymer/angular_bind_polymer.js"></script>

	<!-- Pattern Library Components -->
	<link rel="import" href="bower_components/clab-ui-components/clab-ui-components.html">


</head>
<body>
  <script>

    var app = angular.module("myShoppingList", ['ng-polymer-elements'])
		.constant('$ngPolymerMappings', {
			groupClab: {
				ngValue: '=number'
			}
		});
    // var app = angular.module("myShoppingList", ['eee-c.angularBindPolymer'])

		app.controller("myCtrl", function($scope) {
      $scope.buttonLabel = 'Click me';
			$scope.visible = false;
			$scope.number = 1;

      $scope.buttonAction = function() {
        //  alert('Button clicked');
				 $scope.visible = true;
				 $scope.number = 2;
				 console.log($scope.visible);
      };

    });


  </script>

<div ng-app="myShoppingList" ng-controller="myCtrl">
  <button-clab ng-click="buttonAction()">{{buttonLabel}}</button-clab>
  <input ng-model="buttonLabel"></input>
	<modal-clab visible="">
		<h1>ciao!</h1>
	</modal-clab>

	<group-clab type="info" ng-value="{{number}}">
	  <button-clab>Left</button-clab>
	  <button-clab>Middle</button-clab>
	  <button-clab>Right</button-clab>
	</group-clab>
</div>

</body>
</html>
