<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>Techincaleader Demo| Polymer - Angular</title>
	<!-- Polyfills -->
	<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<script src="bower_components/lodash/lodash.js"></script>
	<script src="bower_components/fetch/fetch.js"></script>
	<script src="bower_components/es6-promise/es6-promise.min.js"></script>

	<!-- Pattern Library CSS -->
	<link rel="stylesheet" href="bower_components/clab-ui-components/_assets/css/contactlab-pattern.css">

	<!-- Components -->
	<link rel="import" href="bower_components/clab-ui-components/clab-ui-components.html">


</head>
<body>


	<div ng-app="pattern-module" ng-controller="myCtrl">

	  <button-clab ng-click="buttonAction()" ng-model="button">{{buttonLabel}}</button-clab>
		<br />
		<br />

		<input ng-model="buttonLabel">{{buttonText}}</input>
		<br />
		<br />

		<input type="number" ng-model="number" min="0" max="5"/>
		<br />
		<br />

		<group-clab ng-model="number">
		  <button-clab>Left</button-clab>
		  <button-clab>Middle</button-clab>
		  <button-clab>Right</button-clab>
		</group-clab>

	</div>
	<!-- Angular -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/object.observe/dist/object-observe-lite.min.js"></script>
	<script src="bower_components/ng-polymer-elements/ng-polymer-elements.js"></script>
	<script>

		angular.module('ng-polymer-elements').constant('$ngPolymerMappings', {
			groupClab: {
		    ngModel: '=value'
		  }
		});

    var app = angular.module("pattern-module", ['ng-polymer-elements']);

    app.controller("myCtrl", function($scope) {
      $scope.buttonLabel = 'Click me';
			$scope.number = 2;

      $scope.buttonAction = function() {
				 console.log($scope.number);
				 $scope.number = 1;
				 $scope.buttonLabel="clicked";
				 $scope.buttonText="Che bel model reactive";
      };
    });

		window.addEventListener('WebComponentsReady', function() {
			document.body.removeAttribute('unresolved');
			angular.bootstrap(wrap(document), ['pattern-module']);
		});

  </script>
</body>
</html>
